<a href="https://colab.research.google.com/github/biaaoliveira/Data_Girl/blob/main/ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTAR PANDAS

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('SuperHeroes.csv', sep = ';')

In [ ]:
print(df)

             Name  Gender                Eye color             Race  \
0           Alien    Male                  unknown  Xenomorph XX121
1    Killer Frost  Female                     blue            Human
2        Mystique  Female  yellow (without irises)           Mutant
3          Nebula  Female                     blue        Luphomoid
4      Abe Sapien    Male                     blue    Icthyo Sapien
..            ...     ...                      ...              ...
729     Blackwulf    Male                      red            Alien
730    Anti-Venom    Male                     blue         Symbiote
731     Venompool    Male                  unknown         Symbiote
732             Q    Male                  unknown    God / Eternal
733    Brundlefly    Male                  unknown           Mutant

       Hair color  Height          Publisher Skin color Alignment  Weight
0         No Hair   244.0  Dark Horse Comics      black       bad   169.0
1           Blond     NaN          DC Comics       blue       bad     NaN
2    Red / Orange   178.0      Marvel Comics       blue       bad    54.0
3         No Hair   185.0      Marvel Comics       blue       bad    83.0
4         No Hair   191.0  Dark Horse Comics       blue      good    65.0
..            ...     ...                ...        ...       ...     ...
729         White   188.0      Marvel Comics    unknown   unknown    88.0
730         Blond   229.0      Marvel Comics    unknown   unknown   358.0
731       unknown   226.0      Marvel Comics    unknown   unknown     NaN
732       unknown     NaN          Star Trek    unknown   unknown     NaN
733       unknown   193.0            unknown    unknown   unknown     NaN

[734 rows x 10 columns]

In [ ]:
print(df.head())

           Name  Gender                Eye color             Race  \
0         Alien    Male                  unknown  Xenomorph XX121
1  Killer Frost  Female                     blue            Human
2      Mystique  Female  yellow (without irises)           Mutant
3        Nebula  Female                     blue        Luphomoid
4    Abe Sapien    Male                     blue    Icthyo Sapien

     Hair color  Height          Publisher Skin color Alignment  Weight
0       No Hair   244.0  Dark Horse Comics      black       bad   169.0
1         Blond     NaN          DC Comics       blue       bad     NaN
2  Red / Orange   178.0      Marvel Comics       blue       bad    54.0
3       No Hair   185.0      Marvel Comics       blue       bad    83.0
4       No Hair   191.0  Dark Horse Comics       blue      good    65.0

In [ ]:
df = df.rename(columns={
               'Name': 'Nome',
               'Gender': 'Genero',
               'Eye color': 'Cor_dos_olhos',
               'Race': 'Raça',
               'Hair color': 'Cor_do_cabelo',
               'Height': 'Altura_cm',
               'Publisher': 'Editora',
               'Skin color': 'Cor_da_pele',
               'Alignment': 'Alinhamento',
               'Weight': 'Peso_kg'
            })

In [ ]:
print(df.head())

           Nome  Genero            Cor_dos_olhos             Raça  \
0         Alien    Male                  unknown  Xenomorph XX121
1  Killer Frost  Female                     blue            Human
2      Mystique  Female  yellow (without irises)           Mutant
3        Nebula  Female                     blue        Luphomoid
4    Abe Sapien    Male                     blue    Icthyo Sapien

  Cor_do_cabelo  Altura_cm            Editora Cor_da_pele Alinhamento  Peso_kg
0       No Hair      244.0  Dark Horse Comics       black         bad    169.0
1         Blond        NaN          DC Comics        blue         bad      NaN
2  Red / Orange      178.0      Marvel Comics        blue         bad     54.0
3       No Hair      185.0      Marvel Comics        blue         bad     83.0
4       No Hair      191.0  Dark Horse Comics        blue        good     65.0

In [ ]:
df['Genero'] =  df['Genero'].replace({
    'Male': 'Masculino',
    'Female': 'Feminino',
    'Unknows': 'Desconhecido'
})

In [ ]:
print(df.head())

           Nome     Genero            Cor_dos_olhos             Raça  \
0         Alien  Masculino                  unknown  Xenomorph XX121
1  Killer Frost   Feminino                     blue            Human
2      Mystique   Feminino  yellow (without irises)           Mutant
3        Nebula   Feminino                     blue        Luphomoid
4    Abe Sapien  Masculino                     blue    Icthyo Sapien

  Cor_do_cabelo  Altura_cm            Editora Cor_da_pele Alinhamento  Peso_kg
0       No Hair      244.0  Dark Horse Comics       black         bad    169.0
1         Blond        NaN          DC Comics        blue         bad      NaN
2  Red / Orange      178.0      Marvel Comics        blue         bad     54.0
3       No Hair      185.0      Marvel Comics        blue         bad     83.0
4       No Hair      191.0  Dark Horse Comics        blue        good     65.0

In [ ]:
df['Alinhamento'] =  df['Alinhamento'].replace({
    'bad': 'mau',
    'good': 'bom',
    'Unknows': 'Desconhecido'
})

In [ ]:
print(df.head())

           Nome     Genero            Cor_dos_olhos             Raça  \
0         Alien  Masculino                  unknown  Xenomorph XX121
1  Killer Frost   Feminino                     blue            Human
2      Mystique   Feminino  yellow (without irises)           Mutant
3        Nebula   Feminino                     blue        Luphomoid
4    Abe Sapien  Masculino                     blue    Icthyo Sapien

  Cor_do_cabelo  Altura_cm            Editora Cor_da_pele Alinhamento  Peso_kg
0       No Hair      244.0  Dark Horse Comics       black         mau    169.0
1         Blond        NaN          DC Comics        blue         mau      NaN
2  Red / Orange      178.0      Marvel Comics        blue         mau     54.0
3       No Hair      185.0      Marvel Comics        blue         mau     83.0
4       No Hair      191.0  Dark Horse Comics        blue         bom     65.0

In [ ]:
df['Altura_m'] = df['Altura_cm'] / 100

In [ ]:
print(df.head())

           Nome     Genero            Cor_dos_olhos             Raça  \
0         Alien  Masculino                  unknown  Xenomorph XX121
1  Killer Frost   Feminino                     blue            Human
2      Mystique   Feminino  yellow (without irises)           Mutant
3        Nebula   Feminino                     blue        Luphomoid
4    Abe Sapien  Masculino                     blue    Icthyo Sapien

  Cor_do_cabelo  Altura_cm            Editora Cor_da_pele Alinhamento  \
0       No Hair      244.0  Dark Horse Comics       black         mau
1         Blond        NaN          DC Comics        blue         mau
2  Red / Orange      178.0      Marvel Comics        blue         mau
3       No Hair      185.0      Marvel Comics        blue         mau
4       No Hair      191.0  Dark Horse Comics        blue         bom

   Peso_kg  Altura_m
0    169.0      2.44
1      NaN       NaN
2     54.0      1.78
3     83.0      1.85
4     65.0      1.91

In [ ]:
df['IMC'] = df['Peso_kg'] / (df['Altura_m'] ** 2)

In [ ]:
print(df.head())

           Nome     Genero            Cor_dos_olhos             Raça  \
0         Alien  Masculino                  unknown  Xenomorph XX121
1  Killer Frost   Feminino                     blue            Human
2      Mystique   Feminino  yellow (without irises)           Mutant
3        Nebula   Feminino                     blue        Luphomoid
4    Abe Sapien  Masculino                     blue    Icthyo Sapien

  Cor_do_cabelo  Altura_cm            Editora Cor_da_pele Alinhamento  \
0       No Hair      244.0  Dark Horse Comics       black         mau
1         Blond        NaN          DC Comics        blue         mau
2  Red / Orange      178.0      Marvel Comics        blue         mau
3       No Hair      185.0      Marvel Comics        blue         mau
4       No Hair      191.0  Dark Horse Comics        blue         bom

   Peso_kg  Altura_m        IMC
0    169.0      2.44  28.386187
1      NaN       NaN        NaN
2     54.0      1.78  17.043303
3     83.0      1.85  24.251278
4     65.0      1.91  17.817494

In [ ]:
df = df.drop_duplicates(subset = 'Nome')

In [ ]:
print(df.head())

           Nome     Genero            Cor_dos_olhos             Raça  \
0         Alien  Masculino                  unknown  Xenomorph XX121
1  Killer Frost   Feminino                     blue            Human
2      Mystique   Feminino  yellow (without irises)           Mutant
3        Nebula   Feminino                     blue        Luphomoid
4    Abe Sapien  Masculino                     blue    Icthyo Sapien

  Cor_do_cabelo  Altura_cm            Editora Cor_da_pele Alinhamento  \
0       No Hair      244.0  Dark Horse Comics       black         mau
1         Blond        NaN          DC Comics        blue         mau
2  Red / Orange      178.0      Marvel Comics        blue         mau
3       No Hair      185.0      Marvel Comics        blue         mau
4       No Hair      191.0  Dark Horse Comics        blue         bom

   Peso_kg  Altura_m        IMC
0    169.0      2.44  28.386187
1      NaN       NaN        NaN
2     54.0      1.78  17.043303
3     83.0      1.85  24.251278
4     65.0      1.91  17.817494

In [ ]:
df_feminino = df[df['Genero'] == 'Feminino']

In [ ]:
print(df_feminino)

                 Nome    Genero            Cor_dos_olhos       Raça  \
1        Killer Frost  Feminino                     blue      Human
2            Mystique  Feminino  yellow (without irises)     Mutant
3              Nebula  Feminino                     blue  Luphomoid
6         Shadow Lass  Feminino                    black   Talokite
9             Copycat  Feminino                      red     Mutant
..                ...       ...                      ...        ...
703      Bionic Woman  Feminino                     blue     Cyborg
707  Katniss Everdeen  Feminino                  unknown      Human
713          Robin VI  Feminino                    green      Human
714            Indigo  Feminino                  unknown      Alien
717             Raven  Feminino                   indigo      Human

    Cor_do_cabelo  Altura_cm        Editora Cor_da_pele Alinhamento  Peso_kg  \
1           Blond        NaN      DC Comics        blue         mau      NaN
2    Red / Orange      178.0  Marvel Comics        blue         mau     54.0
3         No Hair      185.0  Marvel Comics        blue         mau     83.0
6           Black      173.0      DC Comics        blue         bom     54.0
9           White      183.0  Marvel Comics        blue     neutral     67.0
..            ...        ...            ...         ...         ...      ...
703         Black        NaN        unknown     unknown         bom      NaN
707       unknown        NaN        unknown     unknown         bom      NaN
713           Red        NaN      DC Comics     unknown     neutral      NaN
714        Purple        NaN      DC Comics     unknown     neutral      NaN
717         Black      165.0      DC Comics     unknown     neutral     50.0

     Altura_m        IMC
1         NaN        NaN
2        1.78  17.043303
3        1.85  24.251278
6        1.73  18.042701
9        1.83  20.006569
..        ...        ...
703       NaN        NaN
707       NaN        NaN
713       NaN        NaN
714       NaN        NaN
717      1.65  18.365473

[197 rows x 12 columns]

In [ ]:
df_contagem_editora = df.groupby('Editora')['Nome'].count().reset_index()

In [ ]:
df_contagem_editora = df_contagem_editora.rename(columns={'Nome': 'Quantidade_personagens'})

In [ ]:
print(df_contagem_editora)

              Editora  Quantidade_personagens
0         ABC Studios                       4
1           DC Comics                     208
2   Dark Horse Comics                      18
3        George Lucas                      14
4       Hanna-Barbera                       1
5       HarperCollins                       6
6      IDW Publishing                       4
7         Icon Comics                       4
8        Image Comics                      14
9       J. K. Rowling                       1
10   J. R. R. Tolkien                       1
11      Marvel Comics                     376
12          Microsoft                       1
13       NBC - Heroes                      19
14          Rebellion                       1
15           Shueisha                       4
16      Sony Pictures                       2
17         South Park                       1
18          Star Trek                       6
19               SyFy                       5
20       Team Epic TV                       5
21        Titan Books                       1
22  Universal Studios                       1
23          Wildstorm                       3
24            unknown                      15

In [ ]:
df.to_csv('personagens_tratados.csv', sep=';')

In [ ]:
df_contagem_editora.to_csv('contagem_editora.csv', sep=';')

In [ ]:
df_feminino.to_csv('Personagem_feminino.csv', sep=';')