<a href="https://colab.research.google.com/github/biaaoliveira/Data_Girl/blob/main/Fundamentos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos de Python: Tipos de Dados, Estruturas de Controle, Funções e Manipulação de Arquivos

Python é uma linguagem de programação poderosa, conhecida por sua simplicidade e legibilidade, com sintaxe clara e legível. A mesma é de alto nível, interpretada e de tipagem dinâmica. Dominar seus fundamentos é essencial para qualquer desenvolvedor. A seguir, abordamos os principais conceitos: tipos de dados, estruturas de controle, funções e manipulação de arquivos, com exemplos práticos.

## 1. Tipos de Dados em Python

**a. Numéricos**

int: Números inteiros

float: Números decimais (ponto flutuante)

complex: Números complexos

In [ ]:
idade = 25           # int
altura = 1.75        # float
num_complexo = 3 + 4j # complex

print(f"Tipo do dado da variavel idade: {type(idade)}")
print(f"Tipo do dado da variavel altura: {type(altura)}")
print(f"Tipo do dado da variavel Num_complexo: {type(num_complexo)}")

Tipo do dado da variavel idade: <class 'int'>
Tipo do dado da variavel altura: <class 'float'>
Tipo do dado da variavel Num_complexo: <class 'complex'>

**b. Booleanos**

Valores lógicos: True ou False

In [ ]:
esta_chovendo = True
print(f"Tipo da variavel esta_chovendo: {type(esta_chovendo)}")  # <class 'bool'>

Tipo da variavel esta_chovendo: <class 'bool'>

**c. Strings**

Sequência de caracteres.

In [ ]:
nome = "João"
mensagem = f"Olá, {nome}!"
print(mensagem)
print(f"Tipo da variavel nome: {type(nome)}")

Olá, João!
Tipo da variavel nome: <class 'str'>

**d. Listas**

Coleção ordenada e mutável de elementos.

In [ ]:
lista = list()
print(f"Tipo da variavel lista: {type(lista)}")

Tipo da variavel lista: <class 'list'>

In [ ]:
lista = []
print(f"Tipo da variavel lista: {type(lista)}")

Tipo da variavel lista: <class 'list'>

In [ ]:
frutas = ["maçã", "banana", "laranja"]
print(f"Tipo da variavel frutas: {type(frutas)}")

Tipo da variavel frutas: <class 'list'>

Alterando o valor de um elemento existente na lista - mutavel

In [ ]:
frutas[1] = "pera"
print(frutas)

['maçã', 'pera', 'laranja']

Inserindo elementos na lista

In [ ]:
frutas.append("uva")
print(frutas)

['maçã', 'pera', 'laranja', 'uva']

Imprimindo a posicao e o respectivo elemento na lista

In [ ]:
for i, fruta in enumerate(frutas):
    print(f"Posição: {i}, Fruta: {fruta}")

Posição: 0, Fruta: maçã
Posição: 1, Fruta: pera
Posição: 2, Fruta: laranja
Posição: 3, Fruta: uva

Juntando duas listas em uma unica

In [ ]:
frutas_raras = ["durian", "rambutã", "kiwano", "akee", "mão-de-buda", "physalis", "seriguela", "tamarilho"]
novas_frutas = frutas + frutas_raras
print(novas_frutas)

['maçã', 'pera', 'laranja', 'uva', 'durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela', 'tamarilho']

In [ ]:
frutas.extend(frutas_raras)
print(frutas)

['maçã', 'pera', 'laranja', 'uva', 'durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela', 'tamarilho']

Removendo elementos da lista

In [ ]:
frutas.remove("pera")
print(frutas)

['maçã', 'laranja', 'uva', 'durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela', 'tamarilho']

In [ ]:
frutas.remove("kiwi")
print(frutas)

ValueError: list.remove(x): x not in list

Removendo o ultimo elemento da lista

In [ ]:
frutas.pop()
print(frutas)

['maçã', 'laranja', 'uva', 'durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela']

In [ ]:
frutas.pop(2)
print(frutas)

['maçã', 'laranja', 'durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela']

Inserir um elemento em uma determinada posicao

In [ ]:
frutas.insert(1, "banana")
print(frutas)

['maçã', 'banana', 'laranja', 'durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela']

Verificando o tamanho da lista

In [ ]:
print(f"Tamanho da lista: {len(frutas)}")

Tamanho da lista: 10

Imprimindo apenas um pedaco da lista

In [ ]:
print(frutas[1:4]) # das posicoes 1,2,3 intervalo aberto no ultimo elemento

['banana', 'laranja', 'durian']

Ordenando uma lista

In [ ]:
print(frutas)
frutas.sort()
print(frutas)

['maçã', 'banana', 'laranja', 'durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela']
['akee', 'banana', 'durian', 'kiwano', 'laranja', 'maçã', 'mão-de-buda', 'physalis', 'rambutã', 'seriguela']

Sorted(), uma alternativa ao sort()

In [ ]:
print(frutas_raras)
print(sorted(frutas_raras))

['durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela', 'tamarilho']
['akee', 'durian', 'kiwano', 'mão-de-buda', 'physalis', 'rambutã', 'seriguela', 'tamarilho']

In [ ]:
print(frutas_raras)

['durian', 'rambutã', 'kiwano', 'akee', 'mão-de-buda', 'physalis', 'seriguela', 'tamarilho']

Removendo todos os elementos da lista

In [ ]:
frutas.clear()
print(frutas)

[]

**e. Tuplas**

Coleção ordenada, porém imutável.

In [ ]:
coordenadas = (10.0, 20.5)
print(coordenadas[0])

10.0

Inserindo elementos na tupla

In [ ]:
coordenadas = coordenadas + (30.0,)
print(coordenadas)

(10.0, 20.5, 30.0)

Alterando um valor na tupla - resulta em erro pois tuplas sao imutaveis

In [ ]:
coordenadas[0] = 15.0
print(coordenadas)

TypeError: 'tuple' object does not support item assignment

Contando quantas vezes um elemento aparece na tupla

In [ ]:
coordenadas = coordenadas + (30.0, 30.0, 35.0)
print(coordenadas)
print(f"O numero 30.0 aparece na tupla coodenada {coordenadas.count(30.0)} vezes")

(10.0, 20.5, 30.0, 30.0, 30.0, 35.0)
O numero 30.0 aparece na tupla coodenada 3 vezes

Retornar o indice da primeira ocorrencia de um item especifico

In [ ]:
print(coordenadas)
print(f"O numero 30.0 aparece na posicao {coordenadas.index(30.0)}")

(10.0, 20.5, 30.0, 30.0, 30.0, 35.0)
O numero 30.0 aparece na posicao 2

**f. Dicionários**

Coleção de pares chave-valor.

In [ ]:
pessoa = {"nome": "Ana", "idade": 30}
print(type(pessoa))

<class 'dict'>

Mostrando as chaves

In [ ]:
chaves = pessoa.keys()
print(chaves)

dict_keys(['nome', 'idade'])

Mostrando os valores

In [ ]:
valores = pessoa.values()
print(valores)

dict_values(['Ana', 30])

Mostrando ambos

In [ ]:
for chave, valor in pessoa.items():
    print(f"Chave: {chave}, Valor: {valor}")

Chave: nome, Valor: Ana
Chave: idade, Valor: 30

Acessando valores com base nas chaves

In [ ]:
print(pessoa["nome"])

Ana

In [ ]:
print(pessoa["endereco"])

KeyError: 'endereco'

Usando o `.get()` para evitar erro se a chave nao existir

In [ ]:
print(pessoa.get("idade"))

30

In [ ]:
print(pessoa.get("endereco")) # chave que nao existe

None

Inserindo valores em uma nova chave

In [ ]:
pessoa['endereco'] = 'Rua A, 123'
print(pessoa)

{'nome': 'Ana', 'idade': 30, 'endereco': 'Rua A, 123'}

Alterando o valor de uma chave ja existente

In [ ]:
pessoa['nome'] = "Ana Silva"
print(pessoa)

{'nome': 'Ana Silva', 'idade': 30, 'endereco': 'Rua A, 123'}

Alterando multiplas chaves

In [ ]:
print(pessoa)
pessoa_2 = {"nome": "Joao", "idade": 32}
pessoa.update(pessoa_2)
print(pessoa)

{'nome': 'Ana Silva', 'idade': 30, 'endereco': 'Rua A, 123'}
{'nome': 'Joao', 'idade': 32, 'endereco': 'Rua A, 123'}

Removendo um item dada uma chave especifica

In [ ]:
valor_endereco = pessoa.pop("endereco")
print(pessoa)

{'nome': 'Joao', 'idade': 32}

Remover e retornar o último par chave-valor

In [ ]:
ultimo_item = pessoa.popitem()
print(ultimo_item)
print(pessoa)

('idade', 32)
{'nome': 'Joao'}

Removendo todos os itens do dicionario

In [ ]:
pessoa.clear()
print(pessoa)

{}

**g. Conjuntos (sets)**

Coleção não ordenada e sem elementos repetidos.

In [ ]:
numeros = {1, 2, 3, 3}
print(numeros)

{1, 2, 3}

Incluindo valor duplicado

In [ ]:
numeros.add(1)
print(numeros)

{1, 2, 3}

Incluindo apenas um valor

In [ ]:
numeros.add(4)
print(numeros)

{1, 2, 3, 4}

Adicionando multiplos valores ao conjunto

In [ ]:
outros_numeros = {5, 6, 7}
numeros.update(outros_numeros)
print(numeros)

{1, 2, 3, 4, 5, 6, 7}

Remove um elemento específico, gera um KeyError se o elemento não for encontrado

In [ ]:
numeros.remove(3)
print(numeros)

{1, 2, 4, 5, 6, 7}

In [ ]:
numeros.remove(8)
print(numeros)

KeyError: 8

Remove um elemento específico se estiver presente, não faz nada se o elemento não for encontrado

In [ ]:
numeros.discard(7)
print(numeros)

{1, 2, 4, 5, 6}

In [ ]:
numeros.discard(8)
print(numeros)

{1, 2, 4, 5, 6}


Remove e retorna um elemento arbitrário do conjunto

In [ ]:
numeros.pop()
print(numeros)

{2, 4, 5, 6}

Unindo dois conjuntos

In [ ]:
mais_numeros = {8, 9, 10}
numeros = numeros.union(mais_numeros)
print(numeros)

{2, 4, 5, 6, 8, 9, 10}

In [ ]:
mais_numeros = {11, 12}
numeros = numeros | mais_numeros
print(numeros)

{2, 4, 5, 6, 8, 9, 10, 11, 12}

Fazendo a interseccao entre conjuntos

In [ ]:
numeros_2 = {1, 2, 3, 4, 5}
intersecao = numeros.intersection(numeros_2)
print(intersecao)

{2, 4, 5}

In [ ]:
numeros_2 = {1, 2, 3, 4}
intersecao = numeros & numeros_2
print(intersecao)

{2, 4}

Retorna um novo conjunto com elementos em conjunto_1, mas não em conjunto_2

In [ ]:
diferenca = numeros.difference(numeros_2)
print(diferenca)

{5, 6, 8, 9, 10, 11, 12}

In [ ]:
diferenca = numeros - mais_numeros
print(diferenca)

{2, 4, 5, 6, 8, 9, 10}

Retorna um novo conjunto com elementos presentes no conjunto_1 ou no conjunto_2, mas não em ambos

In [ ]:
numeros_extras = {1, 2, 11, 12, 13, 15, 16, 17, 18, 19}
simetrica = numeros.symmetric_difference(numeros_extras)
print(simetrica)

{1, 4, 5, 6, 8, 9, 10, 13, 15, 16, 17, 18, 19}

In [ ]:
simetrica = numeros ^ numeros_extras
print(simetrica)

{1, 4, 5, 6, 8, 9, 10, 13, 15, 16, 17, 18, 19}

Verifica se o conjunto_1 é um subconjunto do conjunto_2

In [ ]:
print(numeros)

{2, 4, 5, 6, 8, 9, 10, 11, 12}

In [ ]:
numeros_2 = {1, 2, 3, 4, 5}
print(numeros.issubset(numeros_2))

False

In [ ]:
numeros <= numeros_2

False

Verifica se o conjunto_1 é um superconjunto do conjunto_2

In [ ]:
numeros_2 = {2, 4, 5}
print(numeros.issuperset(numeros_2))

True

In [ ]:
numeros >= numeros_2

True

Verifica se os dois conjuntos não possuem elementos em comum

In [ ]:
numeros_3 = {15, 16, 17, 18, 19}
print(numeros.isdisjoint(numeros_3))

True

## 3. Funções

Funções permitem reutilizar blocos de código.

**a. Definindo e chamando funções**

In [ ]:
def saudacao(nome):
    return f"Olá, {nome}!"

print(saudacao("Lucas"))

Olá, Lucas!

**b. Argumentos padrão**

In [ ]:
def apresentar(nome="Visitante"):
    print(f"Bem-vindo, {nome}!")

apresentar()
apresentar("Maria")

Bem-vindo, Visitante!
Bem-vindo, Maria!

**c. Funções com múltiplos parâmetros**

In [ ]:
def somar(a, b):
    return a + b

resultado = somar(3, 5)
print(resultado)

8

**d. Funções built-in**

 Python possui funções internas como print(), len(), type(), max(), min(), sum(), entre outras.

 [Lista completa](https://docs.python.org/3/library/functions.html)

In [ ]:
numeros = [1, 2, 3]
print(sum(numeros))
print(max(numeros))
print(len(numeros))

6
3
3

## 4. Estruturas de Controle

**Condicionais**

if, elif, else: Executam blocos de código conforme condições.

In [ ]:
nota = 85
if nota >= 90:
    print("Nota: A")
elif nota >= 80:
    print("Nota: B")
elif nota >= 70:
    print("Nota: C")
else:
    print("Nota: D")

Nota: B

**Laços de Repetição**

**for**: Itera sobre sequências (listas, tuplas, strings).

In [ ]:
frutas = ["maçã", "banana", "laranja"]
for fruta in frutas:
    print(fruta)

maçã
banana
laranja

**while**: Repete enquanto a condição for verdadeira.

In [ ]:
contador = 1
while contador <= 5:
    print("Convidado:", contador)
    contador += 1

Convidado: 1
Convidado: 2
Convidado: 3
Convidado: 4
Convidado: 5

**break, continue, pass**: Controlam o fluxo dentro dos loops.

- break interrompe o laço.

- continue pula para a próxima iteração.

- pass não faz nada, serve como placeholder.

In [ ]:
print("Exemplo com break:")
for i in range(1, 11):
    if i == 6:
        print("Encontrei o 6. Quebrando o loop.")
        break
    print(i)

Exemplo com break:
1
2
3
4
5
Encontrei o 6. Quebrando o loop.

In [ ]:
print("Exemplo com continue:")
for i in range(1, 11):
    if i % 2 == 0:
        print(f"Pares ({i}), pulando para a próxima iteração.")
        continue
    print(i)

Exemplo com continue:
1
Pares (2), pulando para a próxima iteração.
3
Pares (4), pulando para a próxima iteração.
5
Pares (6), pulando para a próxima iteração.
7
Pares (8), pulando para a próxima iteração.
9
Pares (10), pulando para a próxima iteração.

In [ ]:
print("Exemplo com pass:")
for i in range(1, 11):
    if i % 2 == 0:
        pass
    else:
        print(i)

Exemplo com pass:
1
3
5
7
9

**Try/Except**

In [ ]:
try:
    valor = int(input("Digite um número: "))
    resultado = 10 / valor
except ValueError:
    print("Entrada inválida! Por favor, digite um número inteiro.")
except ZeroDivisionError:
    print("Não é possível dividir por zero!")
else:
    print("Divisão realizada com sucesso! Resultado:", resultado)
finally:
    print("Execução finalizada.")

Digite um número: 4
Divisão realizada com sucesso! Resultado: 2.5
Execução finalizada.

## 5. Manipulação de Arquivos

Python permite ler e escrever arquivos com facilidade.

**a. Escrevendo em um arquivo**

In [ ]:
with open("arquivo.txt", "w") as arquivo:
    arquivo.write("Olá, mundo!\n")
    arquivo.write("Escrevendo em um arquivo.")

**b. Lendo um arquivo**

In [ ]:
with open("arquivo.txt", "r") as arquivo:
    conteudo = arquivo.read()
    print(conteudo)

Olá, mundo!
Escrevendo em um arquivo.

**c. Lendo linha por linha**

In [ ]:
with open("arquivo.txt", "r") as arquivo:
    for linha in arquivo:
        print(linha.strip())

Olá, mundo!
Escrevendo em um arquivo.

**d. Adicionando conteúdo a um arquivo**

In [ ]:
with open("arquivo.txt", "a") as arquivo:
    arquivo.write("\nNova linha adicionada.")

In [ ]:
def obrigada():
    mensagem = """
    ***************************************
    *                                     *
    *              OBRIGADA!              *
    *                                     *
    * 😊 Excelente bootcamp a voces!  😊 *
    *                                     *
    ***************************************
    """
    print(mensagem)

obrigada()

    ***************************************
    *                                     *
    *              OBRIGADA!              *
    *                                     *
    * 😊 Excelente bootcamp a voces!  😊 *
    *                                     *
    ***************************************